<div class="form-container">
    <h4 class="mb-4">Add report</h4>
    <form action="AddReportFrom">
        <div class="mb-3">
            <input type="text" name="Title" class="form-control" placeholder="Title" required>
        </div>
        <div class="mb-3">
            <input type="text" name="Description" class="form-control" placeholder="Description" required>
        </div>
        <div class="mb-3">
            <input type="text" name="Created" class="form-control" placeholder="Date" required>
        </div>
        <div class="mb-3">
            <input type="text" name="Author" class="form-control" placeholder="Author" required>
        </div>
        <div class="mb-3">
            <input type="number" name="CreatedById" class="form-control" placeholder="CreatedById" required>
        </div>
        <div class="mb-3">
            <input type="number" name="AssetId" class="form-control" placeholder="AssetId" required>
        </div>
        <div class="mb-4">
            <textarea name="ReportContant" class="form-control" placeholder="Enter your report" required></textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
   

