@model IEnumerable<Capstone_Next_Step.Models.User>

<div class="page-title">
    <h4>Employee Lists</h4>
   <form action="AddEmployee">
    <button class="add-btn" href="home/AddEmployee">
        <span>Add employee</span>
        <i class="fas fa-pencil-alt"></i>
        </button>
    </form>
</div>

@foreach (var EmployeeList in Model)
{

    <div class="employee-list">
        <!-- Employee Cards -->
        <div class="employee-card">
            <div class="employee-info">
                <div class="employee-avatar">
                    <i class="fas fa-user"></i>
                </div>
                <div class="employee-details">
                    <h6 class="employee-name">@EmployeeList.Name</h6>
                    <p class="employee-position">@EmployeeList.Role</p>
                </div>
            </div>
            <div class="actions">
                <button><i class="far fa-comment-alt"></i></button>
            </div>
        </div>
    </div>
}
